[Desktop Entry]
Type=Application
Name=multibootusb
Comment=Установка различных дистрибутивов Linux на USB
Icon=multibootusb
Exec=multibootusb-pkexec
Categories=System;
StartupNotify=true
